body{

padding: 0;
margin: 0;


}

.navegacion{

    font-family: 'Montserrat', sans-serif;

    position: relativa;

    display: flexbox;
    background-color: #F25270;

    color: white;



    width: 100%;

    margin: 0;

    align-self: center;

    /*padding: 10px;*/

}

.navegacion-contenido{

    display: flex;
    align-items: center;
    justify-content: space-between;


}

.navegacion .flex-box{

 
    display: inline-flex;
    align-items: center;



}


.navegacion .flex-box2{

 
    display: block;
    width: 50%;



}


.navegacion a{

    color: blanchedalmond;
    margin-right: 11px;
    text-decoration: none;
    transition: ease 0.4s;
}
.navegacion a:hover{

    
    color:gold;

}


.navegacion img{

    margin: 11px;

}


.align-right{

    float: right;

}


.align-left{

    float: left;

}
.box {


    display: block;



}

.images{

    object-fit: fill;

}

.pack{

    
    width: 50%;
    height: auto;
    height: 20px;

    color: blanchedalmond;

}
